@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

body
{
	background:	linear-gradient(
		to top right,
		#451a55,
		#943c2c,
		#e97223,
		#6861a3
	);
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
}

h1, .human, #recStart {font-family: "Fira Sans", sans-serif;}

h1, .human, .bot, #recStart {color: white;}

h1 {text-align: center; font-size: 2.22em}

.human, .bot {font-size: 24px;}

.bot {font-family: "Fira Code", monospace;}

.btnContainer
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#recStart
{
	opacity: 100%;
	font-size: 1.33em;
	padding: 10px;
	background: linear-gradient(
		to bottom,
		#050015,
		#282163
	);
	border: none;
	font-weight: 600;
}

#recStart:hover
{
	background: linear-gradient(to bottom, #250035, #484183);
}

#recStart:disabled
{
	opacity: 50%;
}