<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sienna &ndash; Your Dynamic AI Voice Companion</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<!--SocketIO-->
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
	</head>
	<body>
		<h1>Sienna &ndash; Your Dynamic AI Voice Companion</h1>
		<div class="btnContainer">
			<button id="recStart">Start Recording</button>
		</div>
        	<div id="conversation"></div>
		<script src="/static/displaying.js"></script>
		<script src="/static/audio.js"></script>
	</body>
</html>