<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Audio Transcription</title>
		<!--SocketIO-->
		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
	</head>
	<body>
		<h1>Audio File Transcription</h1>
		<p>
			<button id="recStart">Record</button>
		</p>
        <div id="conversation"></div>
		<script src="/static/displaying.js"></script>
		<script src="/static/audio.js"></script>
	</body>
</html>